<!-- views/add-category.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>

    <%- include("adminheader.ejs") %>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background: url('/img/soo.jpeg');
            position: relative;
            height: 100vh;
            background-position: center;
        }

        h2 {
            color: #007bff;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #fff;
            border-radius: 5px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .message,
        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <h2>Add Category</h2>

    <form method="POST" action="/admin/dashboard/add-category">
        <% if (errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } else if (message) { %>
            <p class="message"><%= message %></p>
        <% } %>

        <div>
            <label for="name">Category Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description"></textarea>
        </div>

        <button type="submit">Add Category</button>
    </form>
</body>

</html>
