<link rel="stylesheet" href="/styles/dashboard.css">
<header>
    <h1>Admin Dashboard</h1>
</header>
<nav>
    <ul>
        <li><a href="/admin/dashboard" >DashBoard</a></li>
        <li><a href="/admin/dashboard/product-list">Product Management</a></li>
        <li><a href="/admin/dashboard/user-list">Customer Management</a></li>
        <li><a href="/admin/dashboard/category-list">Category Managment</a></li>
        <li><a href="/admin/dashboard/coupon-list">Coupon Managment</a></li>
        <li><a href="/admin/dashboard/user">Order Management</a></li>
        <li><a href="/admin/dashboard/productsalesgraph">product sales</a></li>
       
    </ul>
</nav>