
<head>
    <link rel="stylesheet" href="/styles/catelist.css">
</head>

<body>
    <h2>Category List</h2>

    <ul>
        <% categories.forEach(category => { %>
        <li>
            <strong><%= category.name %></strong>
            <% if (category.description) { %>
            <p><%= category.description %></p>
            <% } %>
        </li>
        <% }); %>
    </ul>

    <a href="/admin/dashboard/add-category">ADD products</a>
</body>

</html>
