<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <section id="header" class="main-header">
        <a href="#"><img src="/img/logo.png" class="logo" alt=""></a>
        <div class="header-content">
            <ul id="navbar" class="nav-list">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="/shop" class="nav-link">Shop</a></li>
                <li><a href="/about" class="nav-link">About</a></li>
                <li><a href="/contact" class="nav-link">Contact us</a></li>
                <li><a href="/logout" class="nav-link">Logout</a></li>
                <li id="lg-bag" class="nav-item"><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <a href="" id="close" class="close-btn"><i class="fa-solid fa-x"></i></a>
                <li class="profile-dropdown nav-item">
                    <a href="/profile/details"><i class="fa-regular fa-user"></i></a>
                </li>
                <li><a href="/wallet" class="nav-link">wallet</a></li>
            </ul>
        </div>
        <div id="mobile">
            <i  id="bar" class="fa-solid fa-bars"></i>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
    </section>
    <script src="js/nav.js"></script>
</body>
</html>
